body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}

.title {
   font-size: 30px;
   line-height: 36px;
   font-weight: 400;
   color: #445161;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   .content {
      flex: 1 1 auto;
      .hi { 
         background-color: #445162;
         padding: 50px 0;  
         .hi__row {
            display: flex;
            justify-content: space-between;
            .hi__body {
               color: #f5f5f5;
               padding-right: 30px;
               .hi__title {
                  font-size: 60px;
                  font-weight: 400;
                  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
                  margin: 0 0 38px 0;
               }
               .hi__list {
                  li {
                     background: url(../img/галочка.png) 0 1px no-repeat;              
                     font-size: 20px;
                     text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
                     color: #ffffff;
                     padding: 0px 0px  0px 36px;
                     margin-bottom: 15px;
                     line-height: 22px;
                  }
                  li:last-child {
                     margin-bottom: 0px;
                  }
               }
            }
         }
      }
   
      .what {
         padding: 50px 0;
         .what__row {
            display: flex;
            .what__image {
               flex: 0 0 430px;
               img {
                  max-width: 100%;
               }
            }
            .what__body {
               flex: 1 1 auto;
               padding: 0px 0px 0px 38px;
               .what__title {
                  margin: 0px 0px 33px 0px;
               }
               .what__text {
                  p {
                     margin: 0px 0px 25px 0px;
                     font-size: 16px;
                     line-height: 24px;
                     color: #333333;
                  }
               }
            }
         }
      }

      .columns {
         background-color: #f5f5f5;
         padding: 50px 0px 20px 0px;
         .columns__title {
            text-align: center;
            margin-bottom: 30px;
         }
         .columns__row {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -8px;
            .colums__column {
               padding: 0 8px;
               flex: 0 1 50%;
               margin-bottom: 30px;
               .colums__item {
                  .item__row {
                     display: flex;
                     .item__image {
                        flex: 0 0 200px;
                     }
                     .item__body {
                        flex: 1 1 auto;
                        padding: 0px 0px 0px 15px;
                        .item__title {
                           font-size: 24px;
                           line-height: 30px;
                           font-weight: 400;
                           color: #445161;
                           margin-bottom: 13px;
                        }
                        .item__text {
                           font-size: 16px;
                           line-height: 24px;
                           color: #333333;
                        }
                     }
                  }
               }
            }
         }
      }

      .vertical {
         padding: 50px 0;
         .vertical__title {
            text-align: center;
            margin: 0px 0px 30px 0;
         }
         .vertical__body {
            max-width: 990px;
            margin: 0px auto;
            .vertical__row {
               display: flex;
               margin: 0px -22.5px;
               .vertical__column {
                  flex: 0 1 33.333%;
                  padding: 0 22.5px;
                  display: flex;
                  .vertical__item {
                     background-color: #445162;
                     color: #fff;
                     border-radius: 5px;
                     border: 1px solid #445162;
                     padding: 0px 0px 20px 0px;
                     display: flex;
                     flex-direction: column;
                     .vertical__subtitle {
                        text-align: center;
                        font-size: 24px;
                        line-height: 30px;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding: 12px 0px;
                     }
                     .vertical__label {
                        text-align: center;
                        background-color: #fff;
                        padding: 15px 0;
                        font-size: 40px;
                        line-height: 30px;
                        font-weight: 400;
                        color: #445162;
                     }
                     .vertical__text {
                        font-size: 14px;
                        line-height: 24px;
                        padding: 20px;
                        flex: 1 1 auto;
                        p {
                           margin: 0px 0px 15px 0px;
                        }
                        p:last-child {
                           margin: 0;
                        }
                     }
                     .vertical__btn {
                        display: block;
                        margin: 0 20px;
                        height: 40px;
                        background-color: #ffffff;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 5px;
                        font-size: 18px;
                        transition: all 1s ease 0s;
                     }
                     .vertical__btn:hover {
                        display: block;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        border-radius: 30%;
                        font-size: 25px;
                        background-color: silver;
                        color: gold;
                        font-weight: bold;
                     }
                     }
                  }
               }
            }
         }
      }
   }
   
   .footer {      
      background-color: #f5f5f5;
      .footer__row { 
         height: 60px;        
         display: flex;
         justify-content: center;
         align-items: center;         
         .footer__text {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #445162;
         }
      }
   }









