body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;

   .content {
      flex: 1 1 auto;
      .hi { 
         background-color: #445162;
         padding: 50px 0;  
         .hi__row {
            display: flex;
            justify-content: space-between;
            .hi__body {
               color: #f5f5f5;
               .hi__title {
                  font-size: 60px;
                  font-weight: 400;
                  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
                  margin: 0 0 38px 0;
               }
               .hi__list {
               }
            }
            .hi__image {
            }
         }
      }
   }
   .footer {      
      background-color: #f5f5f5;
      .footer__row { 
         height: 60px;        
         display: flex;
         justify-content: center;
         align-items: center;         
         .footer__text {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #445162;
         }
      }
   }
}








