body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
}

.title {
   font-size: 30px;
   line-height: 36px;
   font-weight: 400;
   color: #445161;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   .content {
      flex: 1 1 auto;
      .hi { 
         background-color: #445162;
         padding: 50px 0;  
         .hi__row {
            display: flex;
            justify-content: space-between;
            .hi__body {
               color: #f5f5f5;
               padding-right: 30px;
               .hi__title {
                  font-size: 60px;
                  font-weight: 400;
                  text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
                  margin: 0 0 38px 0;
               }
               .hi__list {
                  li {
                     background: url(../img/галочка.png) 0 1px no-repeat;              
                     font-size: 20px;
                     text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
                     color: #ffffff;
                     padding: 0px 0px  0px 36px;
                     margin-bottom: 15px;
                     line-height: 22px;
                  }
                  li:last-child {
                     margin-bottom: 0px;
                  }
               }
            }
            .hi__image {
            }
         }
      }
   
      .what {
         padding: 50px 0;
         .what__row {
            display: flex;
            .what__image {
               flex: 0 0 430px;
               img {
                  max-width: 100%;
               }
            }
            .what__body {
               flex: 1 1 auto;
               padding: 0px 0px 0px 38px;
               .what__title {
                  margin: 0px 0px 33px 0px;
               }
               .what__text {
                  p {
                     margin: 0px 0px 25px 0px;
                     font-size: 16px;
                     line-height: 24px;
                     color: #333333;
                  }
               }
            }
         }
      }
   }
   
   .footer {      
      background-color: #f5f5f5;
      .footer__row { 
         height: 60px;        
         display: flex;
         justify-content: center;
         align-items: center;         
         .footer__text {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #445162;
         }
      }
   }
}








