@charset "UTF-8";
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper .content .hi {
  background-color: #445162;
  padding: 50px 0;
}

.wrapper .content .hi .hi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .content .hi .hi__row .hi__body {
  color: #f5f5f5;
  padding-right: 30px;
}

.wrapper .content .hi .hi__row .hi__body .hi__title {
  font-size: 60px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  margin: 0 0 38px 0;
}

.wrapper .content .hi .hi__row .hi__body .hi__list li {
  background: url(../img/галочка.png) 0 1px no-repeat;
  font-size: 20px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  padding: 0px 0px  0px 36px;
  margin-bottom: 15px;
  line-height: 22px;
}

.wrapper .content .hi .hi__row .hi__body .hi__list li:last-child {
  margin-bottom: 0px;
}

.wrapper .content .what {
  padding: 50px 0;
}

.wrapper .content .what .what__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .what .what__row .what__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
}

.wrapper .content .what .what__row .what__image img {
  max-width: 100%;
}

.wrapper .content .what .what__row .what__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 38px;
}

.wrapper .content .what .what__row .what__body .what__title {
  margin: 0px 0px 33px 0px;
}

.wrapper .content .what .what__row .what__body .what__text p {
  margin: 0px 0px 25px 0px;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.wrapper .content .columns {
  background-color: #f5f5f5;
  padding: 50px 0px 20px 0px;
}

.wrapper .content .columns .columns__title {
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .content .columns .columns__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
}

.wrapper .content .columns .columns__row .colums__column {
  padding: 0 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 30px;
}

.wrapper .content .columns .columns__row .colums__column .colums__item .item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .columns .columns__row .colums__column .colums__item .item__row .item__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.wrapper .content .columns .columns__row .colums__column .colums__item .item__row .item__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 0px 0px 15px;
}

.wrapper .content .columns .columns__row .colums__column .colums__item .item__row .item__body .item__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #445161;
  margin-bottom: 13px;
}

.wrapper .content .columns .columns__row .colums__column .colums__item .item__row .item__body .item__text {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.wrapper .footer {
  background-color: #f5f5f5;
}

.wrapper .footer .footer__row {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .footer .footer__row .footer__text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #445162;
}
